<%= form_for([@topic, @topic.questions.build]) do |form| %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :question_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
